<div class="container-fluid underbar">
    <br/>
    <div class="row underbar">
        <div class="col-md-12 underbar">
            <div class="panel panel-default underbar">
                <div class="panel-heading">
                    <h2 class="panel-title">List</h2>
                </div>
                <div class="list">
                <table class="table table-hover col-md-12">
                    <tbody>
                    <tr ng-repeat="item in list" ng-click="setSelected(item)" ng-class="{rowselected: item.id == itemid}">
                        <td class="col-md-10">{{item.caption}}</td>
                        <td><span am-time-ago="item.time"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Item Details</h2>
                </div>
                <item-details class="panel-body details" content="selectedItem"></item-details>
            </div>
        </div>
    </div>

</div> <!--fluid container-->